@model RoleTopMVC.ViewModels.AlugaViewModel
<link href="~/css/admstyle.css" rel="stylesheet" type="text/css">
 <main>
            <h1>Pagamento</h1>
    <div id="closenav">     
        <a asp-controller="Home" asp-action="Index"><img src="../img/back white.png" alt="Fechar" title="fechar janela" style="width: 40px;padding-top: 10px;padding-right: 10px;"></a>
    </div>
    <section class="paga">
        <img id="bandeiras" src="../img/BANDEIRAS PAGAMENTO.png">
        
        <div id="color" style="width: 550px;">
                
                
                <form method="POST" action='@Url.Action("Registrar","Pagamento")'>

                <input  type="text" value="@Model.cliente.Nome" name="nome"   placeholder="Nome">    

                <br/>

                <input  type="email" value="@Model.cliente.Email" name="email"   placeholder="Email">

                <br/>

                <input  type="text" value="@Model.cliente.Cpf" name="cpf"   placeholder="CPF">

                <br/>

                <input  type="text" value="@Model.cliente.Telefone" name="telefone"   placeholder="Telefone">

                <br/>

                <input id="data-nascimento"  value="@Model.cliente.DataNascimento" type="date" maxlength="20" minlength="3" name="data-nascimento" />

                    <label for="tipoEvento">Selecione seu tipo de evento</label><br>
                    <select name="tipoEvento">
                    @foreach(var tiposEventos in Model.TipoDeEvento){
                    <option value="@tiposEventos">@tiposEventos</option>
                    }
                    </select>
                    <br>

                    <label>Seu evento vai ser: </label><br>
                    <select name="PubPriv">
                    @foreach(var pubPriv in Model.PublicoPrivado){
                    <option value="@pubPriv">@pubPriv</option>
                    }
                    </select>
                    </select>
                    <br>

                    
                    <label>Forma de pagamento</label><br>
                    <select name="formaDePagamento">
                        @foreach(var DebCre in Model.DebitoCredito){
                            <option value="@DebCre">@DebCre</option>
                        }
                    </select>
                    <br>
                    <div id="loucura">
                        
                        <input type="checkbox" name="iluminacao"><p>Iluminação</p> <br>
                        
                        <input type="checkbox" name="som"><p>Som</p><br>
                        
                    </div>

                    <input  type="text" name="numero"  placeholder="Digite o número do seu cartão">    
            
                    <input  type="text" name="nomeCartao"   placeholder="Digite o nome impresso no seu cartão">

                    <div id="fodas">
                        <input type="alo" maxlength="5" minlength="4" placeholder="Data de vencimento xx/xx" name="vencimento" />
                            
                        <input  type="alo" name="cvv" maxlength="3" minlength="3" placeholder="CVV">
                    </div>
                    
                    <input type="submit" name="submit" value="Cadastrar">
                </form>
            </div>
            
        </section>
</main>