@model RoleTopMVC.ViewModels.DashboardViewModel
<link href="~/css/admstyle.css" rel="stylesheet" type="text/css">
<body>
    <!--  olhar Dashboard ViewModel -->
    <section id="status-pedidos">
            <h3>Status dos pedidos</h3>
            <div id="painel">
                <div class="box-status-pedidos aprovados">
                    <h4>Aprovados</h4>
                    <p>@Model.PedidosAprovados</p>
                </div>
                <div class="box-status-pedidos pendentes">
                    <h4>Pendentes</h4>
                    <p>@Model.PedidosPendentes</p>
                </div>
                <div class="box-status-pedidos reprovados">
                    <h4>Reprovados</h4>
                    <p>@Model.PedidosReprovados</p>
                </div>
            </div>
        </section>
            
            <section>
                <div id="table">
                    <h3>Lista de pedidos</h3>
                        <table>
                            <tr>
                                <th>Data</th>
                                <th>Cliente</th>
                                <th>Email</th>
                                <th>Número</th>
                                <th>Tipo de evento</th>
                                <th>Público/Privado</th>
                                <th>Iluminação</th>
                                <th>Som</th>
                                <th colspan="2" rowspan="1">ACEITAR</th>
                                
                            </tr>
                            @foreach (var aluga in Model.alugas)
                            {    
                            <tr>
                                <td>@aluga.DataPedido</td>
                                <td>@aluga.Cliente.Nome</td>
                                <td>@aluga.Cliente.Email</td>
                                <td>@aluga.Cliente.Telefone</td>
                                <td>@aluga.TipoEvento</td>
                                <td>@aluga.Publico</td>
                                <td>@aluga.Iluminacao</td>
                                <td>@aluga.Som</td>
                                <td><a href='@Url.Action("Aprovar", "Pagamento", new {id = @aluga.Id})'><i class="fas fa-check"></i></a></td>
                                <td><a href='@Url.Action("Reprovar", "Pagamento", new {id = @aluga.Id})'><i class="fas fa-times"></i></a></td>
                            </tr>
                            }
                        </table>
                    </section> 
            </div>
</body>
</html>